
<%= simple_form_for(@team, html: { novalidate: true, class: "row g-3 needs-validation px-5", data: {controller: "bootstrap-validation" } }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 d-flex">
            &nbsp;Team Name:
          </div>
          <div class="col-md-8 d-flex">
              <%= f.input :name, class: "form-control custom-form-field w-100", placeholder: "Name", label: false, required: true %>
          </div>
        </div>
    </div>

    <div class="col-md-6 form-floating mb-4">
      <div class="form-floating">
          <%= f.select :coaches, Coach.all.map { |coach| [coach.fullname, coach.id] }, { include_blank: 'Select a Coach' }, { class: 'form-select form-control-sm', id: 'floatingSelectGrid', required: true } %>
          <%= f.label :coaches, 'Select Team Coach', for: 'floatingSelectGrid' %>
      </div>
    </div>

    <hr>

    <h4 class="text-center mt-5">Players</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 25%;">Position</th>
          <th scope="col">Players</th>
        </tr>
      </thead>
      <tbody>

        <% Position.order(number: :asc).each do |position| %>
          <tr>
            <td scope="row"><%= position.number %><span class="mobile-tables"> - <%= position.position %></span></td>
            <td colspan="2">
              <% players_for_position = position ? position.players : Player.none %>
              <%= f.select :players, players_for_position.map { |p| [p.fullname, p.id] }, { include_blank: "No Player Selected"}, { class: "player-team-table-dropdown form-control form-control-sm" } %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <h4 class="text-center mt-4">Reserves</h4>

    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col" style="width:25%;" >Position</th>
          <th scope="col">Reserves</th>
        </tr>
      </thead>
      <tbody>

        <% 8.times do |number| %>
          <% number  = 16 + number %>
          <tr>
            <td scope="row"><%= number %></td>
            <td><%= f.select :players, Player.all.map { |r| [r.fullname, r.id] }, { include_blank: "No Player Selected"}, { class: "player-team-table-dropdown form-control form-control-sm" } %></td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="text-center">
      <%= button_tag(type: 'submit', class: "btn btn-success btn-sm mt-4 mb-4") do %>
        <i class="bi bi-floppy"></i>&nbsp; Save
      <% end %>
    </div>
<% end %>




