<div class="mx-5 mt-3">

  <%= flash_messages %>

  <div class="mb-3 mb-sm-0">

          <h5 class="card-title fs-6">Create teams that belong to the club.</h5>
          <h1 class="text-center mt-4"><u>Teams</u></h1>
          <br>
          <%= link_to "Create Team", new_team_path, class: "btn btn-danger primary-background btn-sm mb-4" %>
          <br>
          <br>
          <div id="coaches" >
            <table class="table table-hover">
              <thead>
                <tr >
                  <th scope="col"><p>Name</p></th>
                  <th scope="col"><p>Coaches</p></th>
                  <th scope="col"><p>Players</p></th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% if Team.any? %>
                  <% @teams.each do |team| %>
                    <div id="<%= dom_id team %>">
                      <tr class="cursor-pointer" data-controller="clickable-table-row" data-value="<%= team.id %>" data-action="click->clickable-table-row#clicked">
                      
                        <td class="align-middle" ><%= Team.name.count %></td>

                        <td class="align-middle" ><%= Team.coaches.count %></td>

                        <td class="align-middle" ><%= Team.players.count %></td>
                      </tr>
                    </div>
                  <% end %>
                <% else %>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                <% end %>
              </tbody>
            </table>
          </div>
    </div>
  </div>
<br>
