<%# <main class="form-signin form-custom">
  <div class="container text-center">
    <h2 class="h3 mb-3 fw-normal">Log-In</h2>
    <br/>


  </div>
</main>
 %>

<!--<p style="color: green"><%= notice %></p>-->
<div class="container">
  <div class="mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h1 class="font-color-custom-1 text-center mt-4">New Player</h1>
        <br>
        <div class="border-bottom hr-show-custom mb-4" ></div>
        <br>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-floating">
            <%= f.username_field :username, autofocus: true, autocomplete: "username", class: "form-control", id: "floatingInput", placeholder: "Username" %>
            <%= f.label :username %>
          </div>
          <br/>
          <div class="form-floating">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
            <%= f.label :password %>
          </div>
          <br/>
          <% if devise_mapping.rememberable? %>
            <div class="checkbox mb-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log-in", class:"btn btn-primary form-custom-button" %>
          </div>
        <% end %>

        <br/>
        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
<br>
<br>
