<main class="form-signin form-custom">
  <div class="container text-center">
    <h2 class="h3 mb-3 fw-normal">Log-In</h2>
    <br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "Email" %>
        <%= f.label :email %>
      </div>
      <br/>
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
        <%= f.label :password %>
      </div>
      <br/>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log-in", class:"btn btn-primary form-custom-button" %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
</main>
