<!--<p style="color: green"><%= notice %></p>-->
<div class="container mb-5" >
  <div class="mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">   

        <div class="d-flex justify-content-start mb-3">
          <div class="btn-group me-auto" role="group" aria-label="Basic example">

            <%= link_to users_path, class: "btn btn-warning btn-sm" do %>
              <i class="bi bi-backspace"></i> Back
            <% end %>
            <%= link_to edit_user_path, class: "btn btn-primary btn-sm" do %>
              <i class="bi bi-pencil-square"></i> Edit User
            <% end %>

          </div>

          <%= button_to user_path(@user), method: :delete, class: "btn btn-danger btn-sm" do %>
            <i class="bi bi-trash"></i> Delete User
          <% end %>
        </div>

        <div class="border-bottom  mb-2" ></div>      
        <br>
        <br>
        <div class="row">
          <div class="col-md-3 text-center">

            <% if @user.user_profile_pic.attached? %>
              <%= user_profile_pic_for(@user) %>
            <% else %>
              <%= empty_profile_pic %>
            <% end %>
            <%# <i class="bi bi-pencil-square show-circle-icon" style="color: white;"></i> %>

            <br>
            <br>

          </div>
          <div class="col-md-9">
            <h1 class="font-color-custom-1 text-center"><%= @user.username %></h1>
            <h4 class="mt-1 font-color-custom-1 text-center"><%= @user.email %></h4>
            <br>
            <br>
            
            <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
              Created At:
              <span class="user-show-attributes" style="text-align: right;">
                <%= @user.created_at %>
              </span>
            </p>

            <div class="border-bottom " ></div>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
