    
    <div class="d-flex justify-content-start mb-3">
      <div class="btn-group me-auto" role="group" aria-label="Basic example">

        <%= link_to coaches_path, class: "btn btn-warning btn-sm" do %>
          <i class="bi bi-backspace"></i> Back
        <% end %>
        <%= link_to edit_coach_path, class: "btn btn-primary btn-sm" do %>
          <i class="bi bi-pencil-square"></i> Edit Coach
        <% end %>

      </div>

      <%= button_to coach_path(coach), method: :delete, class: "btn btn-danger btn-sm" do %>
        <i class="bi bi-trash"></i> Delete Coach
      <% end %>
    </div>

    <div class="border-bottom hr-show-custom mb-2" ></div>      
    <br>
    <br>
    <div class="row">
      <div class="col-md-3 text-center">
        <% if coach.coach_profile_pic.attached? %>
          <%= coach_profile_pic_for(coach) %>
        <% else %>
          <%= empty_profile_pic %>
        <% end %>
        <%# <i class="bi bi-pencil-square show-circle-icon" style="color: white;"></i> %>
      </div>

      <div class="col-md-9">
        <h1 class="text-center"><%= coach.fullname %></h1>
        <h4 class="mt-1 text-center"><%= coach.nickname %></h4>
        <br>
        <br>
        
        <p class="mt-4" style="display: flex; justify-content: space-between; align-items: center;">
          Cellphone Number:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= coach.cellphone_number %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4" style="display: flex; justify-content: space-between; align-items: center;">
          Medical Aid:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= coach.medical_aid %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4" style="display: flex; justify-content: space-between; align-items: center;">
          Medical Condition:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= coach.medical_conditions %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4" style="display: flex; justify-content: space-between; align-items: center;">
          ID Number:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= coach.id_number %>
          </span>
        </p>

        <hr>

        <br>        
 
        </p>
        <br>
      </div>
    </div>

