<div data-controller="">
  <%= simple_form_for player do |f| %>

    <div class="d-block">
      <% if player.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <div style="color: red">
            <br>
            <h2 class="text-center"><%= pluralize(player.errors.count, "error")%> prohibited this player from being saved:</h2>
            <ul>
              <div class="mx-auto" style="width: 50%;">
                <% player.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </div>
            </ul>
          </div>
        </div>
        <br>
        <br>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-3 text-center" data-controller="profile-pic-preview">
        <div class="position-relative">  
            <% if player.profile_pic.attached? %>
              <%= image_tag player.profile_pic, class: "preview-profile-pic profile-pic", data:{"profile-pic-preview-target": "existingMain"} %>
              <%= image_tag '', class:"preview-profile-pic profile-pic", style: "display: none;", data: { "profile-pic-preview-target": "previewMain" } %>
            <% else %>
              <%= image_tag "profile-pic.jpg", class: "preview-profile-pic profile-pic", data:{"profile-pic-preview-target": "existingMain"} %>
              <%= image_tag '', class: "preview-profile-pic profile-pic", style: "display: none;", data: { "profile-pic-preview-target": "previewMain" } %>
            <% end %>
            <i class="bi bi-pencil-square circle-icon cursor-pointer" data-bs-toggle="modal" data-bs-target="#profilePicModal" style="color: white;"></i>
        </div>
        <br>
        <br>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="profilePicModal" tabindex="-1" aria-labelledby="profilePicModalLabel" aria-hidden="true" >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" >
              <div class="modal-header border border-0">
                <h1 class="modal-title fs-5 text-center font-color-custom-1" id="profilePicModalLabel">Edit Profile Pic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="border-bottom hr-show-custom mb-4" ></div>
              <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center" style="heigt:30%;">

                <% if player.profile_pic.attached? %>
                  <%= image_tag player.profile_pic, class: "preview-profile-pic profile-pic", data: {"profile-pic-preview-target": "existing" } %>
                  <%= image_tag '', class:"preview-profile-pic",  style: "display: none;", data: { "profile-pic-preview-target": "preview" } %>
                <% else %>
                  <%= image_tag "profile-pic.jpg", class: "preview-profile-pic profile-pic", data: { "profile-pic-preview-target": "existing" } %>
                  <%= image_tag '', class:"preview-profile-pic",  style: "display: none;", data: { "profile-pic-preview-target": "preview" } %>
                <% end %>

                </div>
              </div>
                <br>
              <div class="border-bottom hr-show-custom mb-4"></div>
              <div class="modal-footer border border-0">
                  <%= link_to "Remove", "#",class: "btn btn-sm btn-danger", style: "display: none;", data: { action: "click->profile-pic-preview#removePreview", "profile-pic-preview-target": "remove"} %>
                  <%= link_to "Save", "#",class: "btn btn-sm btn-success", style: "display: none;", data: { "profile-pic-preview-target": "save", "bs-dismiss": "modal" } %>
                  <%= f.label :profile_pic, "Upload Picture", class: "btn btn-primary btn-sm" %>
                  <%= f.file_field :profile_pic, class: "d-none", data:{action: "change->profile-pic-preview#preview", "profile-pic-preview-target": "fileField"  } %>

                  <% if player.profile_pic.attached? %>
                    <%= link_to "Delete Pic", delete_profile_pic_player_path(player), class: "btn btn-sm btn-danger", method: :delete, data: { "turbo-confirm": "Are you sure?" } %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>

        <h4 class="mb-4">Positions</h4>

        <%= f.collection_check_boxes :position_ids, Position.all, :id, :position do |b| %>
          <%= b.check_box class: "btn-check" %>
          <%= b.label(class: "btn btn-outline-secondary mb-1", style: "width: 80%;") { "#{b.object.number} - #{b.text}" } %>
          <br>
        <% end %>




        <br>
        <!--<p class="text-center font-color-custom-1"><%= link_to 'Add position', '#', class: "btn btn-success", data: { action: 'click->players-form#addDropdown', 'players-form-target': 'dropdownButton' } %></p>-->
        
      </div>


      <div class="col-md-9">
        <div class="text-center">
          <h1 class="mt-4 font-color-custom-1">
            <%= f.text_field :fullname, class: "form-control player-show-names text-center", placeholder:"Fullname", style: "display: inline-block;" %>
          </h1>
          <h4 class="mt-1 font-color-custom-1">
            <%= f.text_field :nickname, class: "form-control player-show-names text-center", placeholder:"Nickname", style: "display: inline-block;" %>
          </h4>
        </div>
        <br>
        <br>

        <div class="border-bottom hr-show-custom mb-4" ></div>

        
        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex align-items-center mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;Cellphone Number:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex align-items-center mb-4">
            <%= f.text_field :cellphone_number, class: "form-control player-form-field w-100", placeholder:"Cell number" %>
          </div>
        </div>

        <div class="border-bottom hr-show-custom mb-4" ></div>


        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;Medical Aid:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex align-items-center mb-4">
              <%= f.text_area :medical_aid, class: "form-control player-form-field w-100", id: "floatingMedicalAid", placeholder:"Medical-Aid"%>
          </div>
        </div>

        <div class="border-bottom hr-show-custom mb-4" ></div>

        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;Medical Condition:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex mb-4">
            <%= f.text_area :medical_conditions, class: "form-control player-form-field w-100", id: "floatingMedicalCondition", placeholder:"Condition" %>        
          </div>
        </div>

        <div class="border-bottom hr-show-custom mb-4" ></div>

        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex align-items-center mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;ID Number:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex align-items-center mb-4">
              <td colspan="2"><%= f.text_field :id_number, class: "form-control player-form-field w-100", placeholder:"ID number"%></td>
          </div>
        </div>

        <div class="border-bottom hr-show-custom mb-5" ></div>

        <h3 class="mt-4 font-color-custom-1 text-center mb-5">Next of Kin</h3>

        <%= f.simple_fields_for :next_of_kin do |nokf| %>

        <div class="border-bottom hr-show-custom mb-4" ></div>

        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex align-items-center mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;Name:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex align-items-center mb-4">
              <td colspan="2"><%= nokf.text_field :name, class: "form-control player-form-field w-100", placeholder:"Name" %></td>
          </div>
        </div>
              <div class="border-bottom hr-show-custom mb-4" ></div>

        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex align-items-center mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;Relationship:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex align-items-center mb-4">
              <td colspan="2"><%= nokf.text_field :relationship, class: "form-control player-form-field w-100", placeholder:"Relationship" %></td>
          </div>
        </div>

        <div class="border-bottom hr-show-custom mb-4" ></div>

        <div class="row">
          <div class="col-md-6 font-color-custom-1 d-flex align-items-center mb-4">
            <span aria-hidden="true" class="text-danger">*</span>&nbsp;Cellphone Number:
          </div>
          <div class="col-md-5 font-color-custom-1 d-flex align-items-center mb-4">
              <td colspan="2"><%= nokf.text_field :cellphone_number, class: "form-control player-form-field w-100", placeholder:"Cell number" %></td>
          </div>
        </div>
        <% end %>


        <div class="border-bottom hr-show-custom mb-5" ></div>

        <div class="d-flex justify-content-center" style="gap: 200px;">
          <%# <%= link_to 'Delete Player', player_path(@player), method: :delete, data: { confirm: 'Are you sure?' } class:"btn btn-danger primary-background" %>
          <div>
            <%= f.submit "Save", class: "btn btn-success mb-5" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
