<div class="container">
  <div class="back-card">
    <div class="row">

      <div class="col-3">
      <%= image_tag "profile-pic.png", style:"width:80%", class: "mt-5"%>
        <h4 class="mt-5 light-font text-center">Positions</h4>

      </div>
      
      <div class="col-9">
        <h1 class="mt-4 light-font text-center"><%= player.fullname %></h1>
        <h4 class="mt-1 light-font text-center"><%= player.nickname %></h4>
        <div class="border-bottom my-4 col-md-11"></div>
        <p class="mt-4 light-font">Cellphone Number: <%= player.cellphone_number %></p>
        <div class="border-bottom col-md-11"></div>
        <p class="mt-4 light-font">Medical Aid: <%= player.medical_aid %></p>
        <div class="border-bottom col-md-11"></div>
        <p class="mt-4 light-font">Medical Condition: <%= player.medical_conditions %></p>
        <div class="border-bottom col-md-11"></div>
        <p class="mt-4 light-font">ID Number: <%= player.cellphone_number %></p>
        <div class="border-bottom col-md-11"></div>
        <p class="mt-4 light-font">Next of Kin: </p>
      </div>

    </div>
  </div>
</div>