    
    <div class="d-flex justify-content-start mb-3">
      <div class="btn-group me-auto" role="group" aria-label="Basic example">

        <%= link_to players_path, class: "btn btn-warning btn-sm" do %>
          <i class="bi bi-backspace"></i> Back
        <% end %>
        <%= link_to edit_player_path, class: "btn btn-primary btn-sm" do %>
          <i class="bi bi-pencil-square"></i> Edit Player
        <% end %>

      </div>

      <%= button_to player_path(@player), method: :delete, class: "btn btn-danger btn-sm" do %>
        <i class="bi bi-trash"></i> Delete Player
      <% end %>
    </div>

    <div class="border-bottom hr-show-custom mb-2" ></div>      
    <br>
    <br>
    <div class="row">
      <div class="col-md-3 text-center">

        <% if player.player_profile_pic.attached? %>
          <%= player_profile_pic_for(player) %>
        <% else %>
          <%= empty_profile_pic %>
        <% end %>
        <%# <i class="bi bi-pencil-square show-circle-icon" style="color: white;"></i> %>

        <br>
        <br>

        <% @player.positions.each do |position, number| %>
          <div class="btn-group-vertical d-block" role="group" aria-label="Vertical button group", style="width: 80%; margin-left: auto; margin-right: auto;">
            <%= link_to  "#{position.number} - #{position.position}", "#", class: "btn btn-outline-secondary btn-sm mb-1" %>
          </div>
        <% end %>
        <br>
        <br>
      </div>

      <div class="col-md-9">
        <h1 class="text-center"><%= player.fullname %></h1>
        <h4 class="mt-1  text-center"><%= player.nickname %></h4>
        <br>
        <br>
        
        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Cellphone Number:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= player.cellphone_number %>
          </span>
        </p>

        <hr>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          Medical Aid:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= player.medical_aid %>
          </span>
        </p>

        <hr>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          Medical Condition:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= player.medical_conditions %>
          </span>
        </p>

        <hr>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          ID Number:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= player.id_number %>
          </span>
        </p>

        <hr>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          Copy of ID:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= link_to "Download Copy", "#", class: "btn btn-primary btn-sm" %> 
          </span>
        </p>

        <hr>

        <br>        

        <h3 class="mt-4 mb-4 text-center">Next of Kin</h3>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          Name:
          <span class="profile-show-attributes" style="text-align: right;">
          <%= player.next_of_kin.present? ? player.next_of_kin.name : "-" %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          Relationship:
          <span class="profile-show-attributes" style="text-align: right;">
            <%= player.next_of_kin.present? ? player.next_of_kin.relationship : "-" %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          Cellphone Number:
          <span class="profile-show-attributes" style="text-align: right;">
          <%= player.next_of_kin.present? ? player.next_of_kin.cellphone_number : "-" %>
          </span>
        </p>
        <br>
      







    </div>

