    <div class="row">
      <div class="col-sm-6 text-center mb-3">
        <%= link_to "Edit Player", edit_player_path, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-6 text-center mb-3">
        <%= button_to "Delete Player", player_path(@player), method: :delete, class: "btn btn-danger primary-background" %>
      </div>          
    </div>
    <div class="border-bottom hr-show-custom mb-2" ></div>      
    <br>
    <br>
    <div class="row">
      <div class="col-md-3 text-center">

        <% if player.profile_pic.attached? %>
          <%= profile_pic_for(player) %>
        <% else %>
          <%= empty_profile_pic %>
        <% end %>
        <%# <i class="bi bi-pencil-square show-circle-icon" style="color: white;"></i> %>

        <br>
        <br>

        <table class="table">
          <thead>
            <th>Number</th>
            <th>Position</th>
          </thead>
          <tbody>
            <% @player.positions.each do |position, number| %>
              <tr>
                <th scope="row"><%= position.number %></th>
                <td><%= position.position %></td>
              </tr>
            <% end %>
          </tbody>
        </table>



      </div>
      <div class="col-md-9">
        <h1 class="font-color-custom-1 text-center"><%= player.fullname %></h1>
        <h4 class="mt-1 font-color-custom-1 text-center"><%= player.nickname %></h4>
        <br>
        <br>
        
        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Cellphone Number:
          <span class="player-show-attributes" style="text-align: right;">
            <%= player.cellphone_number %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Medical Aid:
          <span class="player-show-attributes" style="text-align: right;">
            <%= player.medical_aid %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Medical Condition:
          <span class="player-show-attributes" style="text-align: right;">
            <%= player.medical_conditions %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          ID Number:
          <span class="player-show-attributes" style="text-align: right;">
            <%= player.id_number %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <br>        

        <h3 class="mt-4 font-color-custom-1 text-center">Next of Kin</h3>

        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Name:
          <span class="player-show-attributes" style="text-align: right;">
          <%= player.next_of_kin.present? ? player.next_of_kin.name : "-" %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Relationship:
          <span class="player-show-attributes" style="text-align: right;">
            <%= player.next_of_kin.present? ? player.next_of_kin.relationship : "-" %>
          </span>
        </p>

        <div class="border-bottom hr-show-custom" ></div>

        <p class="mt-4 font-color-custom-1" style="display: flex; justify-content: space-between; align-items: center;">
          Cellphone Number:
          <span class="player-show-attributes" style="text-align: right;">
          <%= player.next_of_kin.present? ? player.next_of_kin.cellphone_number : "-" %>
          </span>
        </p>
        <br>
      </div>
    </div>

