<%# <div id="<%= dom_id @player %>

    <% @players.each do |player| %>
      <tr>
        <td><%= player.nickname %></td>
        <td><%= player.fullname %></td>
        <td><%= player.cellphone_number %></td>
        <td><%= player.player_position %></td>
        <td><%= player.medical_conditions %></td>
        <td><%= player.has_id %></td>
        <td><%= player.portrait_photo %></td>
        <td><%= player.medical_aid %></td>
      </tr>
    <% end %>
  
<%# </div> %>
