<div id="<%= dom_id player %>">
  <p>
    <strong>Nickname:</strong>
    <%= player.nickname %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= player.fullname %>
  </p>

  <p>
    <strong>Cellphone number:</strong>
    <%= player.cellphone_number %>
  </p>

  <p>
    <strong>Player position:</strong>
    <%= player.player_position %>
  </p>

  <p>
    <strong>Medical conditions:</strong>
    <%= player.medical_conditions %>
  </p>

  <p>
    <strong>Has:</strong>
    <%= player.has_id %>
  </p>

  <p>
    <strong>Did highschool:</strong>
    <%= player.did_highschool %>
  </p>

  <p>
    <strong>Medical aid:</strong>
    <%= player.medical_aid %>
  </p>

</div>
