<!--<p style="color: green"><%= notice %></p>-->
<div class="container">

  <div class="mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-color-custom-1 fs-6">Welcome new players to the club!</h5>
          <h1 class="font-color-custom-1 text-center mt-4">Players</h1>
          <br>
          <%= link_to "Register Player", new_player_path, class: "btn btn-danger primary-background" %>
          <br>
          <br>
          <div id="players" >
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th class="mobile-tables" scope="col"><p>Nickname</p></th>
                  <th scope="col"><p>Name</p></th>
                  <th scope="col"><p>Cell Phone</p></th>
                  <th class="mobile-tables" scope="col"><p>Position</p></th>
                  <th class="mobile-tables" scope="col"><p>Medical Conditions</p></th>
                  <th class="mobile-tables" scope="col"><p>ID</p></th>
                  <th class="mobile-tables" scope="col"><p>Photo</p></th>
                  <th class="mobile-tables" scope="col"><p>Medical Aid</p></th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% if Player.any? %>
                  <% @players.each do |player| %>
                    <div id="<%= dom_id player %>">
                      <tr class="cursor-pointer" data-controller="clickable-table-row" data-value="<%= player.id %>" data-action="click->clickable-table-row#clicked">

                        <% if player.nickname.present? %>
                          <td class="font-color-custom-1 mobile-tables" ><%= player.nickname %></td>
                        <% else %>
                          <td class="font-color-custom-1 mobile-tables" > - </td>
                        <% end %>
                        <td class="font-color-custom-1" ><%= player.fullname %></td>
                        <td class="font-color-custom-1" ><%= player.cellphone_number %></td>
                        <td class="font-color-custom-1 mobile-tables" ><%= player.player_position %></td>
                        <td class="font-color-custom-1 mobile-tables" ><%= player.medical_conditions %></td>
                        <% if player.has_id %>
                          <td class="mobile-tables">
                            <div class="d-flex justify-content-center align-items-center mobile-tables" style="height:100%;">
                              <%= image_tag "green-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% else %>
                          <td class="mobile-tables">
                            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                              <%= image_tag "red-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% end %>
                        <% if player.profile_pic.attached? %>
                          <td class="mobile-tables">
                            <div class="d-flex justify-content-center align-items-centes" style="height:100%;">
                              <%= image_tag "green-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% else %>
                          <td class="mobile-tables">
                            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                              <%= image_tag "red-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% end %>
                        <td class="font-color-custom-1 mobile-tables"><%= player.medical_aid %></td>
                        <td style="width: 50px" class="mobile-tables">
                          <%= link_to "View", player, class: 'btn btn-primary btn-sm montserrat-regular-font' %>
                        </td>
                        <td style="width: 50px" class="mobile-tables">
                          <%= button_to "Remove", player, method: :delete, class: "btn btn-danger btn-sm montserrat-regular-font" %>
                        </td>
                        <td style="width: 50px" class="mobile-tables">
                          <%= link_to "Edit", edit_player_path(player), class: "btn btn-success btn-sm montserrat-regular-font" %>
                        </td>
                      </tr>
                    </div>
                  <% end %>
                <% else %>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                  <td class="text-center mobile-tables">-</td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
