<!--<p style="color: green"><%= notice %></p>-->
<div class="container">

  <div class="mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-color-custom-1 fs-6">Welcome new players to the club!</h5>
          <h1 class="font-color-custom-1 text-center mt-4">Players</h1>
          <%= link_to "Register Player", new_player_path, class: "btn btn-danger primary-background" %>
          <br>
          <br>
          <div id="players" >
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="font-color-custom-1" scope="col">Nickname</th>
                  <th class="font-color-custom-1" scope="col">Fullname</th>
                  <th class="font-color-custom-1" scope="col">cell Phone</th>
                  <th class="font-color-custom-1" scope="col">Position</th>
                  <th class="font-color-custom-1" scope="col">Medical Conditions</th>
                  <th class="font-color-custom-1" scope="col">ID</th>
                  <th class="font-color-custom-1" scope="col">Photo</th>
                  <th class="font-color-custom-1" scope="col">Medical Aid</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% if Player.any? %>
                  <% @players.each do |player| %>
                    <div id="<%= dom_id player %>">
                      <tr>

                        <% if player.nickname.present? %>
                          <td class="font-color-custom-1" ><%= player.nickname %></td>
                        <% else %>
                          <td class="font-color-custom-1" > - </td>
                        <% end %>
                        <td class="font-color-custom-1" ><%= player.fullname %></td>
                        <td class="font-color-custom-1" ><%= player.cellphone_number %></td>
                        <td class="font-color-custom-1" ><%= player.player_position %></td>
                        <td class="font-color-custom-1" ><%= player.medical_conditions %></td>
                        <% if player.has_id %>
                          <td>
                            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                              <%= image_tag "green-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% else %>
                          <td>
                            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                              <%= image_tag "red-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% end %>
                        <% if player.profile_pic.attached? %>
                          <td>
                            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                              <%= image_tag "green-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% else %>
                          <td>
                            <div class="d-flex justify-content-center align-items-center" style="height:100%;">
                              <%= image_tag "red-tick-light.png", style:"width:20px" %>
                            </div>
                          </td>
                        <% end %>
                        <td class="font-color-custom-1"><%= player.medical_aid %></td>
                        <td style="width: 50px">
                          <%= link_to "View", player, class: 'btn btn-primary btn-sm montserrat-regular-font' %>
                        </td>
                        <td style="width: 50px">
                          <%= button_to "Remove", player, method: :delete, class: "btn btn-danger btn-sm montserrat-regular-font" %>
                        </td>
                        <td style="width: 50px">
                          <%= link_to "Edit", edit_player_path(player), class: "btn btn-success btn-sm montserrat-regular-font" %>
                        </td>
                      </tr>
                    </div>
                  <% end %>
                <% else %>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
