<div class="container">

  <%= flash_messages %>

  <div class="mb-3 mb-sm-0">
          <h5 class="card-title fs-6">Welcome new players to the club!</h5>
          <h1 class="text-center mt-4"><u>Players</u></h1>
          <br>
          <%= link_to new_player_path, class: "btn btn-success btn-sm mb-4" do %>
            <i class="bi bi-clipboard2-plus-fill"></i> &nbsp;Register Player
          <% end %>
          <br>
          <br>
          <div id="players" >
            <table class="table table-hover">
              <thead>
                <tr >
                  <th scope="col"><p>Photo</p></th>
                  <th class="mobile-tables" scope="col"><p>Nickname</p></th>
                  <th scope="col"><p>Name</p></th>
                  <th scope="col"><p>Cell Phone</p></th>
                  <th class="mobile-tables" scope="col"><p>Medical Conditions</p></th>
                  <th class="mobile-tables" scope="col"><p>Medical Aid</p></th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% if Player.any? %>
                  <% @players.each do |player| %>
                    <div id="<%= dom_id player %>">
                      <tr class="cursor-pointer" data-controller="clickable-table-row" data-value="<%= player.id %>" data-action="click->clickable-table-row#clicked">
                      

                        <% if player.player_profile_pic.attached? %>
                          <td><%= player_profile_pic_avatar_for(player) %></td>
                        <% else %>
                          <td> - </td>
                        <% end %>

                        <% if player.nickname.present? %>
                          <td class=" mobile-tables align-middle" ><%= player.nickname %></td>
                        <% else %>
                          <td class=" mobile-tables align-middle" > - </td>
                        <% end %>

                        <td class="align-middle" ><%= player.fullname %></td>

                        <td class="align-middle" ><%= player.cellphone_number %></td>
                       
                        <td class="mobile-tables align-middle" ><%= player.medical_conditions %></td>

                        <td class="mobile-tables align-middle"><%= player.medical_aid %></td>

                      </tr>
                    </div>
                  <% end %>
                <% else %>
                  <td class="text-center mobile-tables align-middle">-</td>
                  <td class="text-center mobile-tables align-middle">-</td>
                  <td class="text-center mobile-tables align-middle">-</td>
                  <td class="text-center mobile-tables align-middle">-</td>
                  <td class="text-center mobile-tables align-middle">-</td>
                  <td class="text-center mobile-tables align-middle">-</td>
                <% end %>
              </tbody>
            </table>
          </div>
    </div>
  </div>
<br>
