<div id="<%= dom_id absence %>">
  <p>
    <strong>Reason:</strong>
    <%= absence.reason %>
  </p>

  <p>
    <strong>Absent game day:</strong>
    <%= absence.absent_game_day %>
  </p>

  <p>
    <strong>Absent train day:</strong>
    <%= absence.absent_train_day %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= absence.player_id %>
  </p>

</div>
