<!--<p style="color: green"><%= notice %></p>-->
<div class="container">
  <div class="back-card p-3">
    <h1 class="font-color-custom-1 text-center mt-4">Absence form</h1>
    <br>
    <br>
    <br>
    <div id="players" >
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="font-color-custom-1" scope="col">Nickname</th>
            <th class="font-color-custom-1" scope="col">Fullname</th>
            <th class="font-color-custom-1" scope="col">cell Phone</th>
            <th class="font-color-custom-1" scope="col">Position</th>
            <th class="font-color-custom-1" scope="col">Medical Conditions</th>
            <th class="font-color-custom-1" scope="col">Absent</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% if Player.any? %>


            <%= simple_form_for :absence, url: new_absence_path, method: :post do |f| %>
              <% @players.each do |player| %>
                <div id="<%= dom_id player %>">
                  <tr>
                    <% if player.nickname.present? %>
                      <td class="font-color-custom-1" ><%= player.nickname %></td>
                    <% else %>
                      <td class="font-color-custom-1" > - </td>
                    <% end %>
                    <td class="font-color-custom-1" ><%= player.fullname %></td>
                    <td class="font-color-custom-1" ><%= player.cellphone_number %></td>
                    <td class="font-color-custom-1" ><%= player.player_position %></td>
                    <td class="font-color-custom-1" ><%= player.medical_conditions %></td>
                    <td class="font-color-custom-1" ><%= f.check_box :player_ids, { multiple: true }, player.id, nil %></td>
                  </tr>
                </div>
              <% end %>
            <% end %>

          <% else %>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>













<h1>New absence</h1>

<%= render "form", absence: @absence %>

<br>

<div>
  <%= link_to "Back to absences", absences_path %>
</div>
