<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand me-5 ms-3 font-color-custom-1 fs-2" href="#">RugbyLink</a>
    <button class="navbar-toggler navbar-toggle-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Teams', "#", class: "nav-link font-color-custom-1 fs-6" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Players', players_path, class: "nav-link #{'fs-6 active' if current_page?(players_path)} font-color-custom-1 #{'primary-hover' if !current_page?(players_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Absences', "#", class: "nav-link font-color-custom-1 fs-6" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Games', "#", class: "nav-link font-color-custom-1 fs-6" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-color-custom-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-danger me-3" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header font-color-custom-1">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel font-color-custom-1">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-4">
    <div class="fs-2 text-center mb-5 font-color-custom-1">
      #LOGO HERE#
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to 'Teams', "#", class: "nav-link font-color-custom-1 fs-6" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Players', players_path, class: "nav-link #{'fs-6 active' if current_page?(players_path)} font-color-custom-1 #{'primary-hover' if !current_page?(players_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Absences', "#", class: "nav-link font-color-custom-1 fs-6" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Games', "#", class: "nav-link font-color-custom-1 fs-6" %>
      </li>
    </ul>
    <div class="dropdown mb-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>