<div class="sidebar <%= current_user&.user_setting&.dark_mode ? 'bg-dark' : 'bg-light'%> text-center border border-1">

  <%= image_tag 'rugby-link-logo.png', style: "width: 100%; max-height: 180px; margin-top: 50px; margin-bottom: 150px;" %>

  <div class="list-group" data-controller="sidebar-active-item",>
    <%= link_to 'Players', players_path, class: 'list-group-item list-group-item-action rounded-0 border-end-0 border-start-0', data:{ 'sidebar-active-item-target': 'item', 'action': 'click->sidebar-active-item#addActiveClass'} %>
    <%= link_to 'Coaches', coaches_path, class: 'list-group-item list-group-item-action rounded-0 border-end-0 border-start-0', data:{ 'sidebar-active-item-target': 'item', 'action': 'click->sidebar-active-item#addActiveClass'} %>
    <%= link_to 'Teams', teams_path, class: 'list-group-item list-group-item-action rounded-0 border-end-0 border-start-0', data:{ 'sidebar-active-item-target': 'item', 'action': 'click->sidebar-active-item#addActiveClass'} %>
  </div>
  
</div>
